:root {
    --bg-color: hsl(212, 45%, 89%);
    --h2-color: hsl(218, 44%, 22%);
    --p-color: hsl(216, 15%, 48%);
}
html {
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif, 'Outfit';
}
@font-face {
    font-family: 'Outfit';
    src: url('Outfit-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap; /* Améliore les performances */
  }
.container {
    display: flex;
    justify-content: center;     /* centre horizontalement */
    align-items: center;         /* centre verticalement */
    height: 100vh;               /* prend toute la hauteur de l'écran */
}
.qrcode {
    width: 20rem;
    padding: 1rem;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit';
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}
.qrcode h2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--h2-color);
}
.qrcode p {
    font-weight: 400;
    font-size: 1rem;
    color:var(--p-color);
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    
}
.qrcode img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 1em;
}
